@charset "utf-8";
/* @import url(font.css); */

/* CSS Default Values Reference */
del,s,strike {text-decoration:line-through;}
ins,u {text-decoration:underline;}

/* reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased
}

/* 삭제된 항목
center,ruby,
*/

html,body,div,span,p,a,
applet,
object,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,u,i,
dl,dt,dd,ol,ul,li,
form,fieldset,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,
embed,iframe,
figure,img,figcaption,
footer,header,menu,nav,output,
section,summary,time,mark,
blockquote,
hgroup,h1,h2,h3,h4,h5,h6,
hr,
pre,
button, input, textarea, select,label,
audio, video {
	margin:0; padding:0;
}

h1,h2,h3,h4,h5,h6,small,sub,sup {
	font-size:1em;
}

b,h1,h2,h3,h4,h5,h6,strong,th {
	font-weight:bold;
}

address,cite,dfn,em,i,var {
	font-style:normal;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,svg,canvas {
	display:block;
}

menu,ol,ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,
q:before,q:after {
	content:none;
}

hr {display:none;}

table {
	border-collapse:collapse;
	border-spacing:0;
}

video,audio,object,embed,iframe {
	max-width:100%
}

img {
	width:100%;
	max-width:100%;
	height:auto;
	vertical-align:top;
}

legend,caption {
	position: absolute;
	width:1px;
	height:1px;
	clip: rect(1px, 1px, 1px, 1px)
}

pre {word-break:break-all; white-space:pre-line;}

:focus {outline:0;}

a, a:* {text-decoration:none;}
a:link, a:visited, a:hover, a:active {color:;}

/* html,body {height:100%;} */
html{overflow-y:auto;}
body{position:relative;}
body * {font-family:inherit;}

/* reset end */





/* form */
input,textarea,button,select {
	border-radius:0;
	font-size:1em;
	line-height:1;
	/* font-family:Sans-serif !important; */
	font-family:Sans-serif;
}

button {
	cursor:pointer;
	border:none;
	background:none;
	-webkit-appearance:none;
	font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans KR', "Malgun Gothic", '맑은 고딕', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic',  'Droid sans', sans-serif;
}

input::-webkit-input-placeholder {
	color: #999999;
}

input[type="checkbox"],
input[type="radio"] {
	margin:0;
	border:1px solid #999;
}

input[type="number"],
input[type="tel"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="phone"],
input[type="date"],
input[type="month"],
select,
textarea,
button {
	box-sizing:border-box;
	-webkit-appearance:none;
	appearance:none;
	max-width:100%;
	/* line-height: inherit; 특정 상황에서 버그 */
}
input::-webkit-input-placeholder {line-height:inherit;}
body{
	background-color:#fff;
	line-height:1;
	/* font-family:'Nanum Square';
	font-family:'nanumsquare'; */
	font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans KR', "Malgun Gothic", '맑은 고딕', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic',  'Droid sans', sans-serif;
	/*font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
	letter-spacing:-0.025em;
	color:#111;
	font-weight:normal;
	-webkit-text-size-adjust: none;
}



/* 텍스트 및 숫자 관련 입력 폼 */
input[type="text"] {}
input[type="password"] {}
input[type="search"] {}
input[type="number"] {}
input[type="tel"] {}
input[type="url"] {}
input[type="email"] {}

input[type="checkbox"] {}
input[type="radio"] {
	border-radius:100%;
}

input[type="month"] {}
input[type="week"] {}
input[type="date"] {}
input[type="datetime-local"] {}
input[type="time"] {}

input[type="color" value="#ff6600"] {}

input[type="file"] {}
input[type="hidden"] {}
input[type="image"] {}
input[type="button"] {}
input[type="submit"] {}
input[type="range"] {}
input[type="reset"] {}


/* 선택, 입력 비활성화 */
select[disabled],select[readonly],
input[disabled],input[readonly] {
}


/* 버튼 비활성화 
button.css와 button[disabled]는 같은 뎁스.
강제성이 필요한게 뒤에 나옴.
예) <button type="button" class="" disabled>버튼</button>
*/
button.next {}
/* button.disabled,button.false,button[disabled] {
	background: #a7a7a7;
	border-color:#a7a7a7;
	color:#fff;
} */


