@charset "UTF-8";

/* Noto Sans KR */
@font-face {
	font-family:'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src:local(※),
		url('../fonts/NotoSansKR-Light.woff2') format('woff2'),
		url('../fonts/NotoSansKR-Light.woff') format('woff');
	text-rendering: optimizeLegibility;
	font-display:block;
}
@font-face {
	font-family:'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src:local(※),
		url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
		url('../fonts/NotoSansKR-Regular.woff') format('woff');
	text-rendering: optimizeLegibility;
	font-display:block;
}
@font-face {
	font-family:'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src:local(※),
		url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
		url('../fonts/NotoSansKR-Medium.woff') format('woff');
	text-rendering: optimizeLegibility;
	font-display:block;
}
@font-face {
	font-family:'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src:local(※),
		url('../fonts/NotoSansKR-Bold.woff2') format('woff2'),
		url('../fonts/NotoSansKR-Bold.woff') format('woff');
	text-rendering: optimizeLegibility;
	font-display:block;
}

/* Montserrat */
@font-face {
	font-family:'Montserrat';
	font-style: normal;
	font-weight: 100;
	src:local(※),
		url('../fonts/Montserrat-Thin.woff2') format('woff2'),
		url('../fonts/Montserrat-Thin.woff') format('woff');
	text-rendering: optimizeLegibility;
	font-display:block;
}
@font-face {
	font-family:'Montserrat';
	font-style: normal;
	font-weight: 200;
	src:local(※),
		url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
		url('../fonts/Montserrat-ExtraLight.woff') format('woff');
	text-rendering: optimizeLegibility;
	font-display:block;
}
@font-face {
	font-family:'Montserrat';
	font-style: normal;
	font-weight: 300;
	src:local(※),
		url('../fonts/Montserrat-Light.woff2') format('woff2'),
		url('../fonts/Montserrat-Light.woff') format('woff');
	text-rendering: optimizeLegibility;
	font-display:block;
}
@font-face {
	font-family:'Montserrat';
	font-style: normal;
	font-weight: 400;
	src:local(※),
		url('../fonts/Montserrat-Regular.woff2') format('woff2'),
		url('../fonts/Montserrat-Regular.woff') format('woff');
	text-rendering: optimizeLegibility;
	font-display:block;
}
@font-face {
	font-family:'Montserrat';
	font-style: normal;
	font-weight: 500;
	src:local(※),
		url('../fonts/Montserrat-Medium.woff2') format('woff2'),
		url('../fonts/Montserrat-Medium.woff') format('woff');
	text-rendering: optimizeLegibility;
	font-display:block;
}
@font-face {
	font-family:'Montserrat';
	font-style: normal;
	font-weight: 600;
	src:local(※),
		url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
		url('../fonts/Montserrat-SemiBold.woff') format('woff');
	text-rendering: optimizeLegibility;
	font-display:block;
}
@font-face {
	font-family:'Montserrat';
	font-style: normal;
	font-weight: 700;
	src:local(※),
		url('../fonts/Montserrat-Bold.woff2') format('woff2'),
		url('../fonts/Montserrat-Bold.woff') format('woff');
	text-rendering: optimizeLegibility;
	font-display:block;
}
@font-face {
	font-family:'Montserrat';
	font-style: normal;
	font-weight: 800;
	src:local(※),
		url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
		url('../fonts/Montserrat-ExtraBold.woff') format('woff');
	text-rendering: optimizeLegibility;
	font-display:block;
}
@font-face {
	font-family:'Montserrat';
	font-style: normal;
	font-weight: 900;
	src:local(※),
		url('../fonts/Montserrat-Black.woff2') format('woff2'),
		url('../fonts/Montserrat-Black.woff') format('woff');
	text-rendering: optimizeLegibility;
	font-display:block;
}