/* 이미지 경로 수정해야 함. */

/* 하단 사업자 정보 */
.btm_company_info {background-color:#f5f5f5; text-align:center;}
.btm_company_info button.btn_toggle {height:48px;}
.btm_company_info button.btn_toggle span {display:inline-block; position:relative; padding:0 20px; color:#000; font-size:14px;}
.btm_company_info button.btn_toggle span::before {content:""; display:block; position:absolute; top:50%; right:0; width:20px; height:20px; background:url('../images/common/ico_arrow_down.png') no-repeat left top / contain; transform:translateY(-50%) rotate(0deg);}
.btm_company_info button.btn_toggle.active span::before {transform:translateY(-50%) rotate(180deg);}

.btm_company_info .btm_company_content {padding:12px 16px 36px; font-size:12px;}
.btm_company_info .btm_company_content .compnay_info {padding-bottom:24px;}
.btm_company_info .btm_company_content .compnay_info strong {display:block; padding-bottom:12px; font-weight:bold;}
.btm_company_info .btm_company_content .compnay_info p {line-height:20px;}
.btm_company_info p.txt {color:#9D9D9D; line-height:20px; word-break:keep-all;}
.btm_company_info p.copyright {margin-top:12px; color:#333; line-height:15px;}
/* // 하단 사업자 정보 */



/* 상품 상세 슬라이드 */
.detail_slide {position:relative;}
.detail_slide .item {line-height:0;}
.detail_slide .item div {font-size:0;}
.detail_slide img {display:block; line-height:1;}

.goods_dot {display:flex; justify-content:center; gap:4px; position:absolute; bottom:16px; left:0; width:100%; font-size:0; z-index:10;}
.goods_dot li {display:inline-block;}
.goods_dot li button {width:4px; height:4px; background-color:#bbb; border-radius:4px; transition:all 0.2s ease; overflow:hidden; color:transparent;}
.goods_dot li.slick-active button {width:16px; background-color:#000;}

/* 굿즈 상세 상품 타이틀 영역 */
.goods_detail_tit_wrap {padding:24px 0;}
.goods_detail_tit_wrap > div {display:flex; justify-content:space-between; align-items:flex-end;}
.goods_detail_tit_wrap > div strong {flex:1; font-size:20px; line-height:1.25em; font-weight:bold;}
.goods_detail_tit_wrap > div button.btn_share {display:block; float:right; width:24px; min-width:24px; height:24px; margin-left:12px; background:url('../images/common/ico_share.png') no-repeat center / contain; overflow:hidden; color:transparent}
.goods_detail_tit_wrap > div button.btn_share span {white-space:nowrap;}
.goods_detail_tit_wrap p.price {margin-top:8px; color:#000; font-size:16px; line-height:1.5em; font-weight:400;}
/* // 굿즈 상세 상품 타이틀 영역 */




/* 굿즈 상세 이미지 영역 */
.goods_detail_info {}
.goods_detail_info .summary_img {position:relative;}
.goods_detail_info .summary_img::before {content:""; display:block; position:absolute; bottom:0; left:0; width:100%; width:100%; height:48px; background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);}
.goods_detail_info .detail_img {display:none; padding-bottom:24px; background-color:#fff !important;}
.goods_detail_info .btn_detail {height:48px; border:1px solid #ddd; border-radius:24px;}
.goods_detail_info .btn_detail span {display:inline-block; position:relative; padding:0 20px; color:#000; font-size:14px;}
.goods_detail_info .btn_detail span::before {content:""; display:block; position:absolute; top:50%; right:0; width:20px; height:20px; background:url('../images/common/ico_arrow_down.png') no-repeat left top / contain; transform:translateY(-50%) rotate(0deg);}
.goods_detail_info.active .summary_img::before {content:unset;}
.goods_detail_info.active .detail_img {display:block;}
.goods_detail_info.active .btn_detail span::before {transform:translateY(-50%) rotate(180deg);}
/* // 굿즈 상세 이미지 영역 */


/* 굿즈 상세 박스 */
.goods_box_wrap {position:relative;}
.goods_box_wrap + .goods_box_wrap {margin-top:12px;}
.goods_box_wrap div.tit {display:flex; align-items:center; width:100%; height:55px; font-size:18px; font-weight:bold;}
.goods_box_wrap button.btn_toggle {position:absolute; top:18px; right:0; width:20px; height:20px; background:url('../images/common/ico_list_up.png') no-repeat right top / contain; color:transparent; overflow:hidden; transition:all 0.2s;}
.goods_box_wrap button.btn_toggle span {white-space:nowrap;}
.goods_box_wrap button.btn_toggle.active {transform:rotate(180deg);}
.goods_box_wrap .goods_box_content p.txt {color:#9d9d9d; font-size:14px; line-height:22px;}
.goods_box_wrap .goods_box_content .table table {width:100%;}
.goods_box_wrap .goods_box_content .table table th,
.goods_box_wrap .goods_box_content .table table td {padding:16px 16px 17px 16px; color:#080808; font-size:12px; line-height:1.66666em; font-weight:400; text-align:left;}
.goods_box_wrap .goods_box_content .table table th {width:112px; background-color:#f5f5f5;}
.goods_box_wrap .goods_box_content .table table td {background-color:#fff;}
/* // 굿즈 상세 박스 */


/* 굿즈 구매 카운트 */
.count_wrap {display:flex; padding:24px 0;}
.count_wrap div {display:flex; justify-content:baseline; align-items:center; width:100%;}
.count_wrap div button {position:relative; width:34px; height:34px; border:1px solid #ddd; overflow:hidden;}
.count_wrap div button span {color:transparent;}
.count_wrap div button::before,
.count_wrap div button::after {content:""; display:block; position:absolute; top:50%; left:50%; width:12px; height:1.7px; background-color:#000; transform:translate(-50%,-50%);}
.count_wrap div button.btn_minus {border-right:0 none; border-radius:4px 0 0 4px;}
.count_wrap div button.btn_plus {border-left:0 none; border-radius:0 4px 4px 0;}
.count_wrap div button.btn_minus::before {}
.count_wrap div button.btn_plus::before {}
.count_wrap div button.btn_plus::after {transform:translate(-50%,-50%) rotate(90deg);}
.count_wrap div input {width:34px; height:34px; border:0 none; border-top:1px solid #ddd; border-bottom:1px solid #ddd; font-size:14px; line-height:34px; text-align:center;}
.count_wrap strong.price {display:block; font-size:16px; line-height:34px; white-space:nowrap;}
/* // 굿즈 구매 카운트 */


/* 굿즈 구매 하단 슬라이드 */
.slideUp_payment_wrap {text-align:left;}
.slideUp_payment_wrap div.tit {font-size:16px; line-height:1.5em;}
.slideUp_payment_wrap div.tit strong {height:auto !important; justify-content:flex-start !important;}
.slideUp_payment_wrap p.txt {margin-top:8px; color:#9D9D9D; font-size:12px; line-height:1.25em;}
.slideUp_payment_wrap div.item {display:flex; justify-content:space-between; align-items:center; width:100%;}
.slideUp_payment_wrap .popup_payment {padding:24px 0;}
.slideUp_payment_wrap .popup_payment div.item {}
.slideUp_payment_wrap .popup_payment div.item + div.item {margin-top:8px;}
.slideUp_payment_wrap .popup_payment div.item span {color:#9d9d9d; font-size:14px;}
.slideUp_payment_wrap .popup_payment div.item span + span {color:#000;}
.slideUp_payment_wrap .popup_payment div.item strong {color:#000;}
.slideUp_payment_wrap .popup_payment div.item strong.price {font-size:16px;}
.slideUp_payment_wrap .popup_payment div.item strong.txt {font-size:14px; font-weight:400;}
.slideUp_payment_wrap .popup_payment_total {padding:24px 0; color:#000;}
.slideUp_payment_wrap .popup_payment_total div.item span {font-size:14px;}
.slideUp_payment_wrap .popup_payment_total div.item strong {font-size:20px;}
/* // 굿즈 구매 하단 슬라이드 */


/* 갤러리 상세 추천 굿즈 */
.content_view_goods {margin-top:36px;}
.content_view_goods div.tit strong {display:inline-block; font-size:18px; line-height:22px;}
.content_view_goods div.list {display:flex; gap:8px; margin-top:16px; overflow:hidden; overflow-x:scroll; white-space:nowrap; scroll-behavior:smooth; -webkit-overflow-scrolling:touch; transition:all 0.2s ease; z-index:1;}
.content_view_goods div.list::-webkit-scrollbar {display:none !important;}
.content_view_goods div.list .item {position:relative; min-width:104px; border-radius:8px;overflow:hidden;}
.content_view_goods div.list .item div.img {position:relative; min-width:104px; width:104px; max-width:104px; height:104px;}
.content_view_goods div.list .item div.img img {position:absolute; top:50%; left:50%; width:100%; height:100%; object-fit: cover; transform:translate(-50%,-50%);}
.content_view_goods div.list .item strong.tit {display:block; margin-top:10px; color:#000; font-size:16px; line-height:1.25em; word-break:break-all; white-space:wrap;}
.content_view_goods div.list .item span.price {display:block; margin-top:4px; color:#9D9D9D; font-size:14px; line-height:1.28571em;}
/* // 갤러리 상세 추천 굿즈 */


/* 주문/결제관련 기본 틀 */
.order_info_wrap {padding:0 18px;}
.order_box {padding:24px 0;}
.order_box .order_title_wrap {position:relative;}
.order_box .order_title_wrap .tit {}
.order_box .order_title_wrap .tit strong {display:block; font-size:16px; line-height:21px;}
.order_box .order_title_wrap .tools {position:absolute; top:0; right:0;}
.order_box .order_title_wrap .tools button {}
.order_box .order_title_wrap .tools button span {font-size:12px; border-bottom:1px solid #000; font-weight:bold;}
.order_box .order_content {margin-top:12px;}
/* 주문/결제관련 기본 틀 */


/* 상품정보 */
.order_product_info {display:flex; gap:12px; width:100%;}
.order_product_info div.thum {position:relative; width:84px; height:84px; min-width:84px; border-radius:8px; overflow:hidden;}
.order_product_info div.thum img {position:absolute; top:50%; left:50%; width:100%; height:100%; object-fit:cover; transform:translate(-50%,-50%);}
.order_product_info div.txt_wrap {flex:1;}
.order_product_info div.txt_wrap p.txt {font-size:14px; line-height:22px; word-break:keep-all;}
.order_product_info div.txt_wrap div.total_count {margin-top:8px; font-size:16px;}
.order_product_info div.txt_wrap div.total_count strong.price {}
.order_product_info div.txt_wrap div.total_count span.ea {position:relative; margin-left:0.5em; padding-left:0.5em;}
.order_product_info div.txt_wrap div.total_count span.ea::before {content:""; display:block; position:absolute; top:50%; left:0; width:0; height:55%; border-left:1px solid #000; transform:translateY(-50%);}
/* // 상품정보 */


/* 주문번호 */
.detail_order_number {color:#000; font-size:14px;}
/* // 주문번호 */


/* 주문상품 정보 - 배송/취소 문의하기 */
.order_product_info + .btnGroup {margin-top:12px;}
.order_product_info + .btnGroup span {font-weight:400;}
/* // 주문상품 정보 - 배송/취소 문의하기 */


/* 결제 정보 / 가상계좌 입금정보 / 배송 정보 */
.order_table {display:flex; flex-direction:column; gap:8px; width:100%;}
.order_table dl {display:flex; width:100%; font-size:14px;}
.order_table dl dt span {color:#9d9d9d;}
.order_table dl dt strong {color:#000; font-weight:400;}
.order_table dl dd {display:flex; align-items:center;}
.order_table dl dd span {color:#000;}
.order_table dl dd strong {color:#000; font-size:16px;}
.order_table.default dl {gap:8px;}
.order_table.default dl dt {width:88px;}
.order_table.default dl dd {flex:1;}
.order_table.between dl {justify-content:space-between; align-items:center;}
.order_table.between dl dd {display:flex; align-items:center; gap:4px;}
.order_table.between dl dd button.btn_copy {display:inline-block; width:auto; height:21px; padding:0 1em; background-color:#000; border-radius:10px; color:#fff; font-size:10px; line-height:21px;}
.order_table p.txt {color:#9d9d9d; font-size:12px; line-height:15px;}
/* // 결제 정보 / 가상계좌 입금정보 / 배송 정보 */


/* 배송지 선택 체크박스 */
.address_item {}
.address_item + .address_item {margin-top:24px; padding-top:24px; border-top:1px solid #e2e2e5;}
.address_item .address_chk {position:relative; width:24px; min-width:24px; height:24px;}
.address_item .address_chk input {position:absolute; top:0; left:0; opacity:0;}
.address_item .address_chk label {display:block; position:relative; width:24px; height:24px;}
.address_item .address_chk label::before {content:""; position:absolute; top:50%; left:50%; width:16px; height:16px; background-color:#fff; border:4px solid #E2E2E5; border-radius:100%; transform:translate(-50%,-50%);}
.address_item .address_chk input:checked + label::before {border-color:#000;}
/* // 배송지 선택 체크박스 */


/* 배송 정보 (배송지 정보) */
.address_item_info_wrap {display:flex; gap:8px; width:100%;}
.address_item_info {}
.address_item_info div.where {display:flex; align-items:center; height:24px; margin-bottom:9px;}
.address_item_info div.where strong {display:inline-block; font-size:14px; line-height:18px;}
.address_item_info div.where strong.place {}
.address_item_info div.where strong.name {position:relative; margin-left:0.5em; padding-left:0.5em;}
.address_item_info div.where strong.name::before {content:""; display:block; position:absolute; top:50%; left:0; width:0; height:60%; border-left:1px solid #000; transform:translateY(-50%);}
.address_item_info div.where span.default {display:inline-flex; justify-content:center; align-items:center; width:64px; height:21px; margin-left:8px; border:1px solid #000; border-radius:10px; font-size:10px;}
.address_item_info div.address {font-size:14px; line-height:22px;}
.address_item_info div.cellphone {margin-top:8px; font-size:14px; line-height:22px;}
.address_item_info button.btn_del {width:auto; margin-top:1em;}
.address_item_info button.btn_del span {color:#9D9D9D; font-size:12px; font-weight:bold;}
/* // 배송 정보 (배송지 정보) */


/* 기본 배송지 설정 */
.set_default_address {padding:24px 0;}
.set_default_address label {position:relative; padding-left:32px; font-size:16px; line-height:24px; cursor:pointer;}
.set_default_address label input[type="checkbox"] {position:absolute; width:0; height:0; border:0 none; opacity:0;}
.set_default_address label input[type="checkbox"] + span.checkmark {content:""; display:inline-block; position:absolute; top:50%; left:0; width:24px; height:24px; background-image: url('../images/common/btn_scheck_off.png'); background-repeat: no-repeat; background-position: center; background-size: contain; vertical-align:top; transform:translateY(-50%);}
.set_default_address label input[type="checkbox"]:checked + span.checkmark {background-image:url('../images/common/btn_scheck_on.png');}
.set_default_address label input[type=checkbox].all + span.checkmark {background-image:url('../images/common/btn_check_all_off.png');}
.set_default_address label input[type=checkbox]:checked.all + span.checkmark {background-image:url('../images/common/btn_check_all_on.png');}
.set_default_address label span.txt {display:block; color:#000; font-size:14px; line-height:24px; font-weight:bold;}
/* // 기본 배송지 설정 */


/* 배송지 신규 등록 */
.address_input_wrap {margin-top:16px;}
.address_input_wrap + .address_input_wrap {margin-top:20px;}
.address_input_wrap .input_wrap_tit {}
.address_input_wrap .input_wrap_tit strong.tit {display:block; font-size:12px; line-height:15px; font-weight:400;}
.address_input_wrap .row_guide {margin-top:12px;}
.address_input_wrap .row_guide .set_input {display:flex; align-items:center; gap:8px; width:100%;}
.address_input_wrap .row_guide .set_input .input {flex:1; position:relative;}
.address_input_wrap .row_guide .set_input .input input {width:100%; height:60px; padding:0 12px; border:0.5px solid #9d9d9d; border-radius:7.75px; font-size:14px;}
.address_input_wrap .row_guide .set_input .input input::placeholder {color:#9d9d9d}
.address_input_wrap .row_guide .set_input .input input:disabled {border-color:transparent;}
.address_input_wrap .row_guide .set_input .input.focused input {border-color:#000;}
.address_input_wrap .row_guide .set_input .input.warning input {border-color:#ef6227; }
.address_input_wrap .row_guide .set_input .input.success input {border-color:#77b885;}
.address_input_wrap .row_guide .set_input .input.disabled input {border-color:transparent; background-color: #f4f4f4;}
.address_input_wrap .row_guide .set_input button {width:72px; height:60px; border-radius:7.75px; background-color:#222;}
.address_input_wrap .row_guide .set_input button:disabled {background-color:#E2E2E5;}
.address_input_wrap .row_guide .set_input button span {color:#fff; font-size:14px; font-weight:bold;}
.address_input_wrap .row_guide .guide_txt {margin-top:1em; color:var(--color-warning); font-size:12px;}
/* // 배송지 신규 등록 */


/* 배송 매모 */
.order_memo {margin-top:24px;}
.order_memo select {height:48px; padding:0 16px; background:#fff url('../images/common/ico_arrow_down.png') no-repeat right 16px center / 20px 20px; border:1px solid #9d9d9d; border-radius:4px; font-size:14px;}
.order_memo option {font-size:14px;}
/* // 배송 매모 */


/* 결제 관련 약관 */
.order_agree_form {padding:24px 0;}
.order_agree_form div {display:flex; align-items:center;}
.order_agree_form div.active {}
.order_agree_form .order_agree_total {position:relative;}
.order_agree_form .order_agree_total button.btn_toggle {position:absolute; top:2px; right:0; width:20px; height:20px; transform:rotate(180deg); transition:all 0.2s ease;}
.order_agree_form .order_agree_total button.btn_toggle.active {transform:rotate(0deg);}
.order_agree_form div span.txt {color:#909194; font-weight:500;}
.order_agree_form ul.order_agree_list {margin-top:24px;}
.order_agree_form ul.order_agree_list {width:100%; padding:0 16px;}
.order_agree_form ul.order_agree_list li {display:flex; justify-content:space-between; align-items:center; width:100%;}
.order_agree_form ul.order_agree_list li + li {margin-top:12px;}
.order_agree_form ul.order_agree_list li * {vertical-align:top;}
.order_agree_form ul.order_agree_list li button {display:flex; justify-content:center; align-items:center; width:24px; height:24px;}
.order_agree_form ul.order_agree_list li button span {display:inline-block; width:20px; height:20px;}
.order_agree_form ul.order_agree_list li button img {width:20px; height:20px;}
/* .order_agree_form .order_agree_list {display:none;}
.order_agree_form .order_agree_list.active {display:block;} */
.order_agree_form label {position:relative; padding-left:36px; font-size:16px; line-height:24px; cursor:pointer;}
.order_agree_form label input[type="checkbox"] {position:absolute; width:0; height:0; border:0 none; opacity:0;}
.order_agree_form label input[type="checkbox"] + span.checkmark {content:""; display:inline-block; position:absolute; top:50%; left:0; width:24px; height:24px; background-image: url('../images/common/btn_scheck_off.png'); background-repeat: no-repeat; background-position: center; background-size: contain; vertical-align:top; transform:translateY(-50%);}
.order_agree_form label input[type="checkbox"]:checked + span.checkmark {background-image:url('../images/common/btn_scheck_on.png');}
.order_agree_form label input[type=checkbox].all + span.checkmark {background-image:url('../images/common/btn_check_all_off.png');}
.order_agree_form label input[type=checkbox]:checked.all + span.checkmark {background-image:url('../images/common/btn_check_all_on.png');}
.order_agree_form ul li label span.txt {display:block; color:#909194; font-size:12px; line-height:24px; font-weight:bold;}
.order_agree_form label input[type="checkbox"]:checked ~ span.txt {color:#000}
.order_agree_form label input[type="checkbox"].agree.all ~ span.txt {display:block; height:24px; line-height:24px; color:#000; font-weight:bold;}
.order_agree_form p.guide_txt {padding:16px; color:#ef6227; font-size:12px; line-height:15px;}
/* // 결제 관련 약관 */


/* 주문완료 - 주문번호 정보 */
.order_completed {padding:40px 16px; background-color:#f5f5f5; text-align:center;}
.order_completed span.icon {display:inline-block; width:48px; height:48px;}
.order_completed div.tit {margin-top:20px; color:#000; font-size:16px; line-height:1.25em;}
.order_completed div.order_number {margin-top:8px; font-size:14px;}
.order_completed div.order_number strong {font-weight:bold;}
.order_completed div.order_number span {font-weight:400;}
.order_completed p.txt {margin-top:20px; color:#555; font-size:12px; line-height:20px;}
/* // 주문완료 - 주문번호 정보 */




/* 마이페이지 설정 개별 박스 */
.mypage_set_box {}
.mypage_set_box + .mypage_set_box {margin-top:16px;}
.mypage_set_box div.tit {position:relative; width:100%; height:55px; padding:0 16px;}
.mypage_set_box div.tit strong {display:flex; align-items:center; width:100%; height:55px; font-weight:bold; border-bottom:1px solid #E2E2E5;}
.mypage_set_box div.tit button {position:absolute; top:50%; right:12px; width:auto; transform:translateY(-50%);}
.mypage_set_box div.tit button span {padding-right:1.5em; background:url('../images/common/ico_right_arrow.png') no-repeat right center / 20px 20px; color:#9D9D9D; font-size:14px;}
.mypage_set_box div.list {padding:0 16px;}
.mypage_set_box div.list .item {}
.mypage_set_box div.list .item a {display:flex; align-items:center; height:55px; font-size:14px; background:url('../images/common/ico_right_arrow.png') no-repeat right center / 20px 20px; color:#000 !important;}
.mypage_set_box .appVer {height:55px; padding:0 16px;}
.mypage_set_box .appVer dl {display:flex; justify-content:space-between; align-items:center; width:100%; height:55px; font-size:14px;}
.mypage_set_box .appVer dd {display:flex; align-items:center;}
.mypage_set_box .appVer dd span {display:inline-block; height:18px; color:#9D9D9D; font-size:14px; line-height:18px; font-weight:bold; white-space:nowrap;}
.mypage_set_box .appVer dd button {}
.mypage_set_box .appVer dd button.btn_update {display:inline-flex; justify-content:center; align-items:center; width:auto; height:23px; margin-left:7px; padding:0 10px; border:1px solid #000; border-radius:100px; font-size:12px;}
.mypage_set_box .appVer dd button.btn_refresh {width:20px; height:20px; margin-left:2px; background:url('../images/common/btn_refresh.png') no-repeat center / 20px 20px; color:transparent; overflow:hidden;}

.mypage_set_box .membership_list {}
.mypage_set_box .membership_list div.list {margin-top:12px; gap:8px;}
.mypage_set_box .membership_list p {display:flex; align-items:center; height:55px; padding:0 16px; font-size:14px; }
.mypage_set_box .membership_list div.thum {display:flex; justify-content:center; align-items:center; width:84px; height:84px; border-radius:8px; overflow:hidden;}
.mypage_set_box .membership_list div.thum img {vertical-align:top;}
.mypage_set_box .membership_list div.item.more div.thum img {width:48px; height:48px;}
/* // 마이페이지 설정 개별 박스 */




/* 탈퇴 사유 선택 */
.my_withdraw_wrap {padding:32px;}
.my_withdraw_wrap div.summary {padding:16px; border-radius:8px; background-color:#f5f5f5; color:#000; font-size:14px; line-height:22px; word-break:keep-all;}
.my_withdraw_wrap .my_withdraw_survey {margin-top:39px;}
.my_withdraw_wrap .my_withdraw_survey div.tit {font-size:20px; line-height:1.25em; font-weight:bold;}
.my_withdraw {margin-top:14px;}
.my_withdraw li {}
.my_withdraw li label {display:block; position:relative; cursor:pointer; padding:10px 0;}
.my_withdraw li label input[type="radio"] {position:absolute; top:0; left:0; opacity:0;}
.my_withdraw li label input[type="radio"] + span.checkmark {position:absolute; top:50%; left:0; width:24px; height:24px; background:url("../images/common/btn_radio_off.png") no-repeat left center / 24px 24px; transform:translateY(-50%);}
.my_withdraw li label input[type="radio"] ~ span.txt{display:block; padding-left:32px; line-height:24px;}
.my_withdraw li label input[type="radio"]:checked {}
.my_withdraw li label input[type="radio"]:checked + span.checkmark {background-image:url("../images/common/btn_radio_on.png");}
.my_withdraw li label input[type="radio"]:checked ~ span.txt{}
.my_withdraw li .textarea_wrap {position:relative;}
.my_withdraw li textarea {height:132px; padding:10px; border:1px solid #9D9D9D; border-radius:7.75px; overflow-y:auto;}
.my_withdraw li textarea::placeholder {color:#9d9d9d;}
.my_withdraw li textarea:focus {border-color:#000;}
.my_withdraw li span.count {display:block; position:absolute; right:12px; bottom:13px; color:#9D9D9D; font-size:12px; line-height:15px;}
.my_withdraw li textarea:focus + span.count {color:#000;}
/* // 탈퇴 사유 선택 */